In [1]:
import sys 
import os 

sys.path.append('../..')
DATA_DIR = '../../data'
os.environ['DATA_DIR'] = DATA_DIR
import pandas as pd
from IPython.display import display

from utils.analyses.quality.quality import load_all_quality_judgements, calc_relative_number_of_sensible_features

In [2]:
judgements = load_all_quality_judgements()
judgements

      index concept_id                 feature  name source  judgment
1104   1104      pansy               is common  cslb  human       2.0
1045   1045  newspaper            has features  cslb  human       2.0
257     257     grater                 is thin  cslb  human       1.0
82       82      organ         does make music  cslb  human       1.0
854     854       wren     is found in gardens  cslb  human       1.0
...     ...        ...                     ...   ...    ...       ...
768     768  turnstile             is a device   gpt    NaN       1.0
1032   1032     handle              has screws   gpt    NaN       2.0
1207   1207    ostrich               lays eggs   gpt    NaN       1.0
577     577     peeler  is used to make salads   gpt    NaN       1.0
1166   1166       pole  is used to climb poles   gpt    NaN       3.0

[1440 rows x 6 columns]

In [10]:
rows = []

for source in ['cslb', 'mcrae', 'gpt']:
    result_source = judgements[judgements['name'] == source]
    sample_acc, ci = calc_relative_number_of_sensible_features(result_source)
    rows.append({'source': source, 'acc': sample_acc, 'ci': ci, 'n': result_source.shape[0]})
    
results = pd.DataFrame(rows)
results = results.round(2)
display(results)
print(results.to_latex())

  source    acc    ci    n
0   cslb  92.92  2.28  480
1  mcrae  96.46  1.61  480
2    gpt  87.29  3.03  480

\begin{tabular}{llrrr}
\toprule
{} & source &    acc &    ci &    n \\
\midrule
0 &   cslb &  92.92 &  2.28 &  480 \\
1 &  mcrae &  96.46 &  1.61 &  480 \\
2 &    gpt &  87.29 &  3.03 &  480 \\
\bottomrule
\end{tabular}